<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/main.css">
        <title>Node Project</title>
    </head>
    <body>
        

        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>


        

        <div>
            
            <div class="big-block">

                <h2>Contact Us</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempora harum beatae quibusdam eos nulla accusamus explicabo illo minus quod, error optio consequatur obcaecati fugiat, inventore veniam dolorum voluptate incidunt.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempora harum beatae quibusdam eos nulla accusamus explicabo illo minus quod, error optio consequatur obcaecati fugiat, inventore veniam dolorum voluptate incidunt.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempora harum beatae quibusdam eos nulla accusamus explicabo illo minus quod, error optio consequatur obcaecati fugiat, inventore veniam dolorum voluptate incidunt.</p>

            </div>


        </div>




        <footer>
            <div class="footer-div">
                <p>One</p>
                This is the first
            </div>



            <div class="footer-div">
                <p>Two</p>
                This is the Second
            </div>



            <div class="footer-div">
                <p>Three</p>
                This is the Third
            </div>
        </footer>



    </body>
</html>