<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/main.css">
        <title>Node Project</title>
    </head>
    <body>
        

        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>


        <div class="main-div">
            <img id="main-img" src="./img/1.png" alt="">
        </div>


        <div>
            <div class="block">
                <img src="./img/2.png" alt="">

                <h4>Business</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempora harum beatae quibusdam eos nulla accusamus explicabo illo minus quod, error optio consequatur obcaecati fugiat, inventore veniam dolorum voluptate incidunt.</p>

                <a style="padding: 5px; text-decoration: none; color: white; margin-bottom: 10px;" href="/business">Read More</a>
            </div>

            <div class="block">
                <img src="./img/3.png" alt="">

                <h4>Motivation</h4>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident harum tempora qui! Dolore praesentium consectetur veritatis aut ullam. Temporibus assumenda sit id? Accusantium ab doloremque, iusto nisi vel autem illum?</p>

                <a style="padding: 5px; text-decoration: none; color: white; margin-bottom: 10px;" href="/motivation">Read More</a>
            </div>
        </div>




        <footer>
            <div class="footer-div">
                <p>Address</p>
                No. 52, Efab Estate, Abuja, Nigeria
            </div>



            <div class="footer-div">
                <p>Mission</p>
                Impacting the world through innovative technologies
            </div>



            <div class="footer-div">
                <p>Jobs</p>
                You can find jobs in our website
                
            </div>
        </footer>



    </body>
</html>